<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Flight System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>



        body {
            background-image: url('../../blur.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

</head>
<body>
    <div>

        <h1 class="text-center" style="font-size:60px;color:black"><bold>Flight Management System</bold></h1>
    </div>
    <nav class=" navbar navbar-inverse">

        <div class="navbar-header">


            <ul class="nav navbar-nav">


                <li style="font-size:x-large">@Html.ActionLink("Home", "Index", "Home")</li>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="font-size:x-large">@Html.ActionLink("Add a Flight", "Create", "AddFlights")</li>
                <li style="font-size:x-large">@Html.ActionLink("Schedule Flights", "Create", "scheduleflight2")</li>
                <li style="font-size:x-large">@Html.ActionLink("Search flights", "Search", "AddFlights")</li>




                <li style="font-size:x-large">@Html.ActionLink("Seach Schedule Flights", "Search", "scheduleflight2")</li>
                <li style="font-size:x-large">@Html.ActionLink("View Flights", "Index", "AddFlights")</li>
                <li style="font-size:x-large">@Html.ActionLink("view Schedule Flights", "Index", "scheduleflight2")</li>



            </ul>
        </div>

    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:white;background-color:black;height:25px;font-size:20px"><bold>&copy; @DateTime.Now.Year -My Flight Reservation System</bold></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>























